<div class="card">
    <div class="card-header">
        Details of {{employee.name}}
    </div>
    <div class="card-body">
        <table class="table">
            <tbody>
                <tr>
                    <th>Employee Id</th>
                    <td>{{employee.id}}</td>
                </tr>
                <tr>
                    <th>Employee Name</th>
                    <td>{{employee.name}}</td>
                </tr>
                <tr>
                    <th>Employee Email</th>
                    <td>{{employee.email}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer text-muted">
        <a routerLink='/employees' class="btn btn-secondary">Go Back</a>
    </div>
</div>